/* === General === */

:root {
    --logo-color: rgba(255, 255, 255, 0.9);
    --background-color1: rgba(40, 48, 54, 1);
    --bg-color: rgba(30, 37, 43, 1);
    --header-list-color: rgba(255, 255, 255, 0.55);
    --button-color: rgba(255, 110, 48, 1);
    --button-color-text: rgba(253, 245, 255, 1);
    --input-color: rgba(255, 255, 255, 0.38);
    --background: rgba(255, 255, 255, 0.2);
    --input-gradient-color1: rgba(255, 255, 255, 0.1);
    --input-gradient-color2: rgba(255, 255, 255, 0);
    --tools-color-list: rgba(255, 255, 255, 0.78);
    --tools-color-wraper: rgba(255, 165, 55, 0.55);
  
  }
  
  :root {
    --main-family: "Poppins", sans-serif;
    --second-family: "Lora", sans-serif;
    --third-family: "Roboto", sans-serif;
  }

  .container {
    width: 1440px;
    margin: 0 auto;
  }
  
  body {
    background-color: var(--bg-color);
    font-family: var(--main-family);
  }

/* === Newcomer Tools Section === */

.tools_newcomer {
  padding: 200px 0;
  background-color: var(--bg-color);
}

.tools_newcomer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 197px;
}

.tools_newcomer-wrapper {
  max-width: 427px;
  flex-direction: column;
  align-items: flex-start;
}

.tools_newcomer-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--logo-color);
  text-align: left;
  line-height: 130%;
}

.tools_newcomer-description {
  color: var(--header-list-color);
  margin-bottom: 20px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
}

.tools_newcomer-more {
  display: inline-block; 
  background-color: var(--button-color); 
  color: var(--button-color-text); 
  padding: 12px 24px; 
  border-radius: 12px; 
  text-decoration: none; 
  font-size: 18px; 
  line-height: 100%;
  transition: background-color 0.3s ease; 
}

.tools_newcomer-more:hover {
  background-color: var(--tools-color-wraper); 
}

.tools_newcomer-list {
  display: grid;
  grid-template-columns: repeat(2, 288px);
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: end;
  flex-grow: 1;
}

.tools_newcomer-item {
  background-color: transparent;
  padding: 20px;
  border-radius: 16px;
  position: relative;
  text-align: left;
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 288px;
  height: 284px;
  box-sizing: border-box;
}

.tools_newcomer-item:hover {
  transform: translateY(-5px);
  background-color: var(--background); 
}

.tools_newcomer-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.tools_newcomer-image {
  width: 40px;
  height: 40px;
}

.tools_newcomer-name {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: var(--tools-color-list);
  line-height: 100%;
}

.tools_newcomer-price {
  font-size: 14px;
  color: var(--tools-color-wraper);
  margin: 5px 0 10px;
  line-height: 30px;
}

.tools_newcomer-text {
  font-size: 14px;
  color: var(--tools-color-list);
  margin-bottom: 15px;
}

.tools_newcomer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tools_newcomer-actions {
  display: flex;
  gap: 10px;
}

.tools_newcomer-icon-like,
.tools_newcomer-icon-folder {
  width: 20px;
  height: 20px;
}

.tools_newcomer-icon-like:hover {
  filter: brightness(0) saturate(100%) invert(18%) sepia(99%) saturate(7484%) hue-rotate(356deg) brightness(90%) contrast(122%);
}

.tools_newcomer-link {
  color: var(--button-color-text);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.tools_newcomer-link:hover {
  background-color: var(--button-color); 
}


  /* === Testimonial Section === */
  .testimonial {
    background-color: var(--bg-color);
    font-family: var(--main-family);
    padding: 60px 0;
    position: relative;
    color: var(--logo-color);
  }
  
  .testimonial-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .testimonial-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;
    gap: 40px;
  }
  
  .testimonial-image {
    position: relative;
    width: 666px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .testimonial-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }
  
  .testimonial-image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    background: url('../images/rr-section/ellipse.png') no-repeat center/contain;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .testimonial-text {
    position: relative;
    max-width: 500px;
    flex-shrink: 0;
  }
  
  .testimonial-text::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -40px;
    width: 80px;
    height: 80px;
    background: url('../images/rr-section/apostrophe.png') no-repeat center/contain;
    z-index: 1;
  }
  
  .testimonial-name {
    font-family: var(--second-family);
    font-size: 26px;
    font-weight: 700;
    color: var(--logo-color);
    margin-bottom: 5px;
  }
  
  .testimonial-role {
    font-family: var(--third-family);
    font-size: 16px;
    color: var(--header-list-color);
    margin-bottom: 15px;
  }
  
  .testimonial-message {
    font-size: 14px;
    color: var(--tools-color-list);
    line-height: 1.6;
    font-family: var(--third-family);
  }
  /* === Contributor Section === */
  .contributor {
    padding: 250px 0 ;
    text-align: center;
    background-color: var(--bg-color);
  }
  
  .contributor-title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--logo-color);
    line-height: 130%;
  }
  
  .contributor-description {
    color: var(--header-list-color);
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
  }
  
  .contributor-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .contributor-input {
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    min-width: 250px;
    font-size: 14px;
    color: var(--logo-color);
    background-color: var(--background-color1);
  }
  
  .contributor-button {
    background-color: var(--button-color);
    border: none;
    color: var(--button-color-text);
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* === Footer === */
  .footer {
    background-color: var(--bg-color);
    color: var(--logo-color);
    padding: 60px 0;
    font-family: var(--main-family);
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

  }
  
  .footer-brand {
    max-width: 260px;
    margin-left: 108px;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .footer-logo-img {
    width: 32px;
    height: 32px;
  }
  
  .footer-logo-text {
    font-size: 24px;
    font-weight: 600;
    color: var(--logo-color);
    text-decoration: none;
  }
  
  .footer-logo-text:hover {
    color: #ffffff;
  }
  
  .footer-description {
    color: var(--header-list-color);
    line-height: 1.6;
    margin-top: 10px;
    font-size: 14px;
    line-height: 25px;
  }

  .footer-copyright {
    font-size: 16px;
    line-height: 100%;
  }
  
  .footer-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--logo-color);
    line-height: 100%;
  }
  
  .footer-contact {
    display: block;
    color: var(--header-list-color);
    text-decoration: none;
    margin-bottom: 8px;
    line-height: 100%;
    font-size: 16px;
  }
  
  .footer-contact:hover {
    color: var(--logo-color);
  }
  .footer-column:nth-child(4) {
    margin-right: 253px ;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-link {
    color: var(--header-list-color);
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    line-height: 100%;
    font-size: 16px;
  }
  
  .footer-link:hover {
    color: var(--logo-color);
  }



  
 